* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h {
  height: 600px;
}

.text-overflow {
  overflow: auto;
}

.card-body {
  position: relative;

  .btn {
    position: absolute;
    top: 5px;
    right: 10px;

  }
}